body {
    font-family: Arial;
    padding: 20px;
    background: #f2f2f2;
}

.container {
    background: white;
    padding: 20px;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
}

input {
    padding: 8px;
    width: 100%;
}

.cid-box {
    margin-top: 10px;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
    word-wrap: break-word;
}
